
:root {
    --black-: #000;
    --gray-10: #7d7d7d;
    --gray-5: #e5e5e5;
    --gray-0: #f3f3f3;
    --white-: #fff;
}

// 🎨 Variáveis Globais
$primary-color: #000;
$background-color: #f8f8f8;
$text-color: #333;
$font-family: 'Arial', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  
  &:hover {
    background-color: darken($primary-color, 15%);
  }
}
